:root {
  --background: #222c3c;
  --honey: #d8b26e;
  --cream: #e2e0d5;
  --jean: #999ea7;
  --nude: #b69b7d;
  --selection-bg: #d0d1d3;
  --selection-letter: #4d1635;
  --body-font: "ABeeZee", sans-serif;
  --heading-font: "Lobster", cursive;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: var(--body-font);
  color: var(--cream);
  font-size: 1.2rem;
  padding: 0rem 5rem;
  /* overflow-x: hidden; */
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-letter);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 2rem 1rem;
}

.navbar__link {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: var(--background) 2px solid;
  font-weight: bold;
  font-size: 1.4rem;
}

.navbar__link:hover {
  border-bottom: var(--cream) 2px solid;
}

.navbar__link a {
  color: var(--jean);
}

.hero {
  color: var(--honey);
  width: 40rem;
  padding-top: 12rem;
  font-size: 1.3rem;
  line-height: 1.5;
  height: 75vh;
}

.hero__title {
  font-family: var(--heading-font);
}

.section__title {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--nude);
  width: fit-content;
  padding-bottom: 2rem;
  right: -30rem;
}

.section {
  padding-bottom: 10rem;
}

.section__content {
  position: relative;
  right: -3rem;
  width: 57rem;
}

.section__content p {
  padding-bottom: 1.2rem;
  line-height: 1.8rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 4rem;
}

.project__title {
  color: var(--jean);
  font-weight: bold;
  font-size: 1.7rem;
}

.project__content {
  padding-bottom: 1.2rem;
  line-height: 1.8rem;
}

.project__image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  text-align: center;
}

.footer__links {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 5rem;
}

.footer__icon {
  width: 50px;
  height: 50px;
}

.footer__email {
  width: 26rem;
  height: 3rem;
}

@media screen and (max-width: 750px) {
  :root {
    font-size: 13px;
  }

  body {
    padding: 0rem 1.3rem;
  }

  .hero {
    width: 25rem;
    padding-top: 8rem;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .section__title {
    right: -4rem;
  }

  .section__content {
    right: 0rem;
    width: inherit;
  }
}
@media screen and (max-width: 1150px) {
  .project {
    flex-direction: column;
    gap: 2rem;
  }
  .project__image {
    max-width: 100%;
    height: auto;
  }
}
